<!-- Need to make more responsive in terms of sizing and layout
    This could be done smarter with a for loop with some JS-->

<div class="row g-3">
    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Enjoyment Score</label>
            <select class="form-select" id="exampleSelect" name="happiness">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Sadness Score</label>
            <select class="form-select" id="exampleSelect" name="sadness">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Anger Score</label>
            <select class="form-select" id="exampleSelect" name="anger">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Disgust Score</label>
            <select class="form-select" id="exampleSelect" name="disgust">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Contempt Score</label>
            <select class="form-select" id="exampleSelect" name="contempt">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Surpise Score</label>
            <select class="form-select" id="exampleSelect" name="surprise">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>

    <div class="col-3">
        <div class="m-3">
            <label for="exampleSelect" class="form-label">Fear Score</label>
            <select class="form-select" id="exampleSelect" name="fear">
              <option selected="">1-10</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
        </div>
    </div>
</div>


  