<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emotion Tracker form</title>
    <link href='https://fonts.googleapos.com/css?family=Mountains of Christmas'
    rel='stylesheet'>
    <link rel="stylesheet" href="mystyles.css">
</head>
<body>
    <%- include('header'); %>

    <main>
        <div class="flex-container">
            <form action="/" method="post">
                <div class="flex-input">
                    <input type="text" name="myitem" placeholder="How do you feel?...">
                </div>
                <div class="flex-button">
                    <input type="submit" value="Add to list">
                </div>
            </form>

            <!--Adding in JS to handle dynamic JSON objects-->
            <% data.forEach((wishlist) =>{ %>
                <div class="flex-item">
                    <%= wishlist.item %>
                </div>
            <% }); %>

            
        </div>
    </main>
    
    <%- include('footer'); %>
</body>
</html>