<!-- Navbar-->
<!-- Will need to check if user logged in and render appropriately-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">EmoteSnap</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div span class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/login">Home</a>
        </li>
        <% if (loggedin) { %>
          <li class="nav-item">
            <a class="nav-link" href="dash">User Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addsnap">User Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log Out</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Log In</a>
          </li>
        <% } %>
        
      </ul>
      <span class="navbar-text"> Data to get emotional about </span>
    </div>
  </div>
</nav>
